<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-6">
            <i class="fa fa-arrows"></i>
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-6 right actions">
            <span class="reneco trash"></span>
<span class="reneco duplicate"></span>
           <span class="reneco edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <input type="file" class="hide" />
            <input type="text" class="form-control col-md-10" name="<%= name %>" id="<%= id%>" />
            <input type="submit" value="Browse" class="marginLeft20 find btn reneco red paddingLeft10 paddingRight10 noMarginTop" />
        </div>
    </div>
</div>
