<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-6">
            <i class="reneco reneco-drag2"></i>
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-6 right actions">
            <span id="trash" class="reneco reneco-trash"></span>
            <span id="duplicate" class="reneco reneco-duplicate"></span>
           <span id="edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <input type="file" class="hide" />
            <input type="text" class="form-control col-md-10" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" />
            <input type="submit" value="Browse" class="marginLeft20 find btn reneco red paddingLeft10 paddingRight10 noMarginTop" />
        </div>
    </div>
</div>
