<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-radio_on"></i>
        </label>
        <label class="col-md-9 field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.radio" class="fieldType"></span>
        </label>
        <div class="pull-right actions">
            <span id="trash" class="reneco reneco-trash"></span>
            <span id="duplicate" class="reneco reneco-duplicate"></span>
           <span id="edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% _.each(choices, function(el, idx) {%>
                <div class="radioField marginTop0 marginBottom0">
                    <div class="form-group row marginTop0 marginBottom0 paddingTop0 paddingBottom0">
                        <input data-idx=<%=idx %> type="radio"  name="<%= name %>" id="<%=id %>_<%= idx %>" value="<%= el.value %>" <% if (defaultValue.indexOf(el["id"]) >=0){ %> checked <% } %> />
                        <label for="<%=id %>_<%= idx %>">
                            <%= el.fr %>
                        </label>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>