<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
            <%= legend %>
        </label>
        <div class="col-md-8 right actions">
            <span class="reneco trash"></span>
<span class="reneco duplicate"></span>
           <span class="reneco edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 subformField">
            <fieldset class="row  marginLeft10">
            </fieldset>
        </div>
    </div>
</div>