<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-9 field-label">
            <i class="reneco reneco-group"></i>
            <span class="legend">
                <%= legend %>
            </span>
            <span data-i18n="fields.subform" class="fieldType"></span>
        </label>
        <div class="col-md-3 right actions">
            <span id="sub-trash" class="reneco reneco-trash"></span>
            <span id="sub-duplicate" class="reneco reneco-duplicate"></span>
            <span id="sub-edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 subformField">
            <fieldset class="row  marginLeft10">
            </fieldset>
        </div>
    </div>
</div>