<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-6">
            <i class="reneco reneco-text"></i>
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-6 right actions">
            <span id="trash" class="reneco reneco-trash"></span>
            <span id="duplicate" class="reneco reneco-duplicate"></span>
            <span id="edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <input type="text" class="form-control" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" value="<%= defaultValue %>" />
        </div>
    </div>
</div>