<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-9 field-label">
            <i class="reneco reneco-thesaurussmall"></i>
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.thesaurus" class="fieldType"></span>
        </label>
        <div class="col-md-3 right actions">
            <span id="trash" class="reneco reneco-trash"></span>
            <span id="duplicate" class="reneco reneco-duplicate"></span>
            <span id="edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered thesaurusField paddingLeft0 paddingRight0" id="thesaurus<%= id %>"></div>
    </div>
</div>
