<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-tree"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.treeview" class="fieldType"></span>
        </label>
        <% if ($('.sizepreview').hasClass('selected')) { %>
        <div class="pull-right actions" style="display:none;">
            <% } else { %>
            <div class="pull-right actions">
                <% } %>
            <span id="trash" class="reneco reneco-trash"></span>
            <!-- <span id="duplicate" class="reneco reneco-duplicate"></span> -->
            <span id="edit" class="reneco reneco-edit"></span>
        </div>
    </div>
    <div class="row noPadding">
        <div class="col-md-11 col11centered treeview paddingLeft0 paddingRight0" id="treeview<%= id %>"></div>
    </div>
</div>
