
//	This file contains main CSS class for position and sizing

//	Position
.center         { text-align    : center; 			}
.fLeft          { float 		: left;				}
.left           { text-align    : left !important;	}
.right          { text-align    : right !important; }

//	Sizing margin and ppading
.noMargin 		{ margin 		: 0 !important; 	}
.noPadding 		{ padding 		: 0 !important;		}
.noMarginLeft   { margin-left   : 0 !important; 	}
.noMarginTop    { margin-top    : 0 !important; 	}