<div class="dropArea">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                <label id="collectionName">
                    <%= collection.name %>
                </label>
                <span id="count"></span>
                <span id="formOriginalID" style="float:right;">
                    <%= collection.originalID %>
                </span>
            </h1>
        </div>
    </div>
    <div class="sizepreview-container"><span class="sizepreview" data-i18n="form.actions.sizepreview"></span></div>
    <div class="row scrollSection paddingTop20">
        <div class="col-md-12">
            <div id="scrollSection">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" id="dropContainer">
                        <div class="col-md-12 drop"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button class="reneco grey" id="exit">
                    <label>
                        <span data-i18n="form.actions.exit">
                            QUITTER
                        </span>
                    </label>
                    <label class="empty"></label>
                </button>
            </div>
        </div>
    </footer>

</div>
