#centerPanel {
    background : #2a2e31;
    height: 100%;

    &>div:first-child { height: 100%; }

    .head {
        border-bottom  : 1px #75797b solid;
        margin-bottom  : 20px;
        height         : 71px;
        overflow       : hidden;

        h1 {
            .exo;
            color          : #ffffff;
            padding-left   : 30px;
            margin-top     : 0;
            height         : 70px;
            line-height    : 71px;
            font-size      : 30px;
            font-weight    : 100;
            margin-bottom  : 0;
        }

        .col-md-6:last-child {
            height     : 100%;
            line-height: 67px;
            text-align : right;

            button {
                margin-top: 17.5px;
            }
        }

        .col-md-1 {
          height: 70px;
          line-height: 95px;
        }
    }

    #grid, #grid2 {
        height: 80%;
        margin-right: 30px;
        table {
            width: 100%;
            table-layout:fixed;
            thead {

                tr {


                    th {
                        .exo;
                        text-transform : uppercase;
                        padding-bottom : 15px;
                        font-weight    : 900;

                        &:first-child {
                            width : 60%;
                            padding-left: 20px;
                        }

                        a {
                            color : #8c8f90 !important;
                            font-size : 16px;

                            &:hover {
                                text-decoration: none !important;
                                cursor: pointer;
                            }

                        }
                    }
                }
            }

            tbody {

                tr {
                    border-bottom: 1px #555 solid;

                    &.clone {
                        background : #D9BF3D;
                    }

                    &.focused {
                        background: #555;
                    }


                    &.selected {
                        background : #d1d2d4 !important;
                        color : #111 !important;
                        td {
                            color : #111 !important;
                        }
                    }

                    &:not(.formInformation), &:not(.selected) {
                        &:hover {
                            cursor: pointer;
                            background : #1e1e1e;
                        }
                    }

                    td {
                        .exo;
                        padding-top    : 7px;
                        padding-bottom : 7px;
                        color          : #8c8f90;
                        &:first-child {
                            padding-left   : 20px;
                            text-transform : uppercase;
                        }
                    }

                }
            }
        }

        .formInformation {
            background : #222 !important;
            td {
                padding-top    : 17px;
                padding-bottom : 17px;
                text-transform : none !important;
                vertical-align : text-top;
                label {
                    width       : 35px;
                    height      : 35px;
                    color       : white;
                    font-size   : 22px;
                    text-align  : center;
                    position    : relative;
                    margin-right: 10px;
                    float       : left;
                    background  : rgba(0, 0, 0, 0.2);
                    border-right: 2.5px;
                    overflow    : hidden;
                    padding-top : 2px;
                    &:hover {
                        cursor : pointer;
                    }
                }
                p {
                    width  : 90%;
                    margin : 0 auto;
                }
            }
        }
    }

    #grid {
        table {
            thead {
                visibility: hidden;
                tr{
                    th {
                        height: 0px !important;
                        padding : 0 !important;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    footer {
        height        : 80px;
        position      : fixed;
        bottom        : 0;
        background    : #2e2b2c;
        margin-left   : -15px;
        margin-right  : -15px !important;
        padding-right : 15px;
        padding-left  : 15px;

        div {
            height: 100%;
            width: 50%;


            &:first-child {
                margin-left: 0 !important;
                float: left;

                button {
                    margin-left: 7px !important;
                }
            }

            &:last-child {
                text-align: right;
                margin: 0 !important;
                float: right;
            }
        }

        button {
            margin-top: 20px;
            &.red {
                &:last-child {
                    margin-left: 17px;
                }
            }
        }
    }

    .scrollSection {
        height: 80%;
        &.resized {
            height: 4%;
        }
        overflow: hidden;
        .col-md-12:first-child {
            height: 100%;
        }
        #scrollSection {
            height   : 85%;
            position : relative;
            overflow : hidden;
        }
        .ps-scrollbar-y-rail {
            background : black;
            height     : 550px !important;
            overflow   : hidden;
        }

    }

    #scrollSection2 {
        height: auto;
        #grid2 {
            table {
                tbody {
                    display : none;
                }
            }
        }
    }
}
