
//
//  Field style
//

//  remove shadow
.form-control { box-shadow: none!important; }

//  checkbox custom field
//  We hide the input and replace with before icon, we use reneco fonts https://github.com/NaturalSolutions/RenecoFonts
.checkboxField {
    input {
        display : none;

        &+label {
            color : #aaa;
            font-size : 20px;
            &:before {
                .reneco;
                content: "\e640";
            }
        }

        &:checked+label:before {
            .reneco;
            content: "\e63f"
        }
    }
}

//  checkbox custom field
.radioField {
    input {
        display : none;

        &+label {
            color : #aaa;
            font-size : 20px;
            &:before {
                .reneco;
                content: "\e642";
            }
        }

        &:checked+label:before {
            .reneco;
            content: "\e641"
        }
    }
}

//  override bootstrap select style
//  bootstrap select library : http://silviomoreto.github.io/bootstrap-select/
.bootstrap-select {
    box-shadow: none;
    border-radius: 2.5px;
    background : transparent !important;

    .btn {
        background : transparent !important;
    }

    .selectpicker {
        border : none;
        background : #222;
        color : white;
        box-shadow: none;
        &:focus, &:active {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        padding: 0;

        ul {
            li {
                background : #222 !important;
                a { background : #222 !important; }
                &:hover {
                    background : #222;
                    * { background : #222; }
                }
                span {
                    &.text {
                        .exo;
                        font-size : 16px;
                        color : white;
                    }
                }
                &.selected {
                    box-shadow: none;
                    background : #222;
                }
            }
        }
    }
}





