.sweet-alert {
  h2 {
    .exo;
  }
  p {
    .exo;
  }
}


.modal {
    background: transparent;
    margin-top: 100px;

    label {
      .exo;
      font-weight: 500;
    }

    input {
      .exo;
    }

    h2 {
        color         : #575757;
        font-size     : 30px;
        text-align    : center;
        font-weight   : 600;
        text-transform: none;
        position      : relative;
        margin        : 25px 0;
        padding       : 0;
        line-height   : 25px;
        display       : block;
        .exo;
    }

    button  {
        margin-top : 5px;
        &.col-md-2 {
            height: 34px;
            line-height: 0px;
        }
    }

    .control {
        display            : block;
        height             : 34px;
        padding            : 6px 12px;
        font-size          : 14px;
        line-height        : 1.42857143;
        color              : #555;
        background-color   : #fff;
        background-image   : none;
        border             : 1px solid #ccc;
        border-radius      : 4px;
        -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow         : inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition : border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition      : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition         : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
}

#saveModal, #exportModal {
    h2 {
      .exo;
    }
    textarea { resize: none; height : 60px; max-height: 60px; }
    label > i { color : #888; }
    .modal-body {
        padding-bottom: 25px;
        overflow-x : hidden;
        .row-fluid:nth-child(even){
            margin-bottom: 5px;
        }
    }
}

#importModal {
    .btn-success {
        padding-top: 5px !important;
    }
}

#importProtocolFileText { float : left;}

#editListModal {
	//	Modal dialog for enumeration field list edition
	//	Backbone view : EditListModal
	width : 1000px;
	left : 35%;
	.modal-header {
		text-align : center;
		background : #eee;
		font-weight: 100;
	}
	h2 {
		font-size : 20px;
	}
}

#importModal {
    input {
      margin-left: 0;
    }
}