header {
    .exo;
    height        : 42px;
    background    : #862332;
    line-height   : 38px;
    margin-bottom : 0 !important;

    .logo {
        width        : 20;
        margin-left  : 7px;
        margin-right : 7px;
    }

    .title, .mode, .user, .status {
        color           : white;
        text-decoration : none;
        font-weight     : 300;
        font-size       : 20px;
        margin-left     : 7px;
        margin-right    : 7px;
    }

    .glyphicon-chevron-down {
        color : white;
    }

    .pipe {
        color       : white;
        font-weight : 300;
        font-size   : 25px;
        margin-left : 7px;
        margin-top  : -2px;
    }

    .pull-right {
        margin-right: 25px;
    }

    .navbar {
        .container-fluid {
            background: #862332 !important;
        }
    }

    .navbar-default {
        background: #862332 !important;
    }

    a[data-key="save"]:before {
        font-family: "Glyphicons Halflings";
        content: "\e166";
    }

    a[data-key="import"]:before {
        font-family: "Glyphicons Halflings";
        content: "\e198";
    }

    a[data-key="clear"]:before {
        font-family: "Glyphicons Halflings";
        content: "\e020";
    }

    a[data-key="show"]:before {
        font-family: "Glyphicons Halflings";
        content: "\e178";
    }

    a[data-key="saveConfiguration"]:before {
        font-family: "Glyphicons Halflings";
        content: "\e032";
    }

    .navbar-form, .navbar-user {
        display: none;
    }

}