
//
//  Override scroll bar style
//

.slimScrollRail {
    display: block !important;
    background : #ddd !important;
    height: 90% !important
}

.slimScrollBar {
    background: #fff !important;
}