<div class="modal-dialog">
    <div class="modal-content">
        <div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>XML File versionning</h2>
            </div>
            <br />
            <div class="row-fluid">
                <input type="file" id="sourceHide" class="hide" />
                <label class="span2 offset1">Source XML</label>
                <input type="text" class="span5" id="source" placeholder="Your XML File" />
                <button type="button" class="span3 btn" id="findSource" style="margin-left: 10px;">Find</button>
            </div>
            <div class="row-fluid">
                <input type="file" id="updateHide" class="hide" />
                <label class="span2 offset1">Updated XML</label>
                <input type="text" class="span5" id="update" placeholder="Your XML File" />
                <button type="button" class="span3 btn" id="findUpdate" style="margin-left: 10px;">Find</button>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary">Run versionning</a>
            </div>
        </div>
    </div>
</div>