<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Export protocol</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label>Protocol name</label>
        </div>
        <div class="row-fluid">
            <input type="text" id="exportProtocolName" class="span10" placeholder="Protocol name" data-provide="typeahead" />
        </div>
        <div class="row-fluid">
            <label>Protocol description</label>
        </div>
        <div class="row-fluid">
            <textarea id="exportProtocolDescription" class="span10" placeholder="Describe this protocol in some words"></textarea>
        </div>
        <div class="row-fluid">
            <label>Keywords <i>(Taped enter for validate)</i>
            </label>
        </div>
        <div class="row-fluid">
            <input type="text" id="exportProtocolKeywords" placeholder="Enter keywords" class="span10" data-provider="typeahead" />
        </div>
        <ul class="row-fluid" id="exportProtocolKeywordsList">
        </ul>
        <div class="row-fluid">
            <label>JSON file name</label>
        </div>
        <div class="row-fluid">
            <input type="text" id="exportProtocolFileName" class="span10" placeholder="Your comment" />
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Export protocol</a>
    </div>
</div>