<!-- FormView importProtocolModal view template -->
<div class="modal hide fade" id="importProtocolModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Import protocol</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <label>Enter a protocol name and import your file</label>
        </div>
        <div class="row-fluid">
            <input type="text" id="importProtocolName" class="span12" placeholder="Protocol name" data-provide="typeahead" />
        </div>
        <br />
        <div class="row-fluid">
            <input type="file" id="importProtocolFile" class="hide" />
            <input type="text" id="importProtocolFileText" class="span10" placeholder="Protocol file" style="margin-left : 0" />
            <button type="button" class="span2" id="importProtocolFind">Find</button>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Import</a>
    </div>
</div>
