<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Import protocol</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>
                    Select a JSON or XML file to import
                </label>
                <input type="file" id="importProtocolFile" class="hide" />
                <div class="row paddingRight15 paddingLeft15">
                    <input type="text" id="importProtocolFileText" class="control col-md-9" placeholder="Protocol file" style="margin-left : 0" accept="application/json, application/xml" />
                <button class="col-md-2 marginTop0 marginLeft5 btn btn-lg btn-info find">Find</button> <br/>
                <label class="error"></label>
                </div>
            </div>
        </div>
        <div class="modal-footer paddingBottom10 paddingTop20">
            <button type="button" class="btn btn-lg btn-success">Import</button>
        </div>
    </div>
</div>
