<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 data-i18n="modal.save.title">
                Save protocol
            </h3>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label data-i18n="protocol.name">
                    Protocol Name
                </label>
                <input
                    type="text"
                    id="saveProtocolName"
                    class="form-control"
                    data-provide="typeahead"
                />
            </div>
            <div class="form-group">
                <label data-i18n="modal.comment">
                </label>
                <input type="text" id="saveProtocolComment" class="form-control" />
            </div>
            <div class="form-group">
                <label data-i18n="protocol.description">
                    Protocol description
                </label>
                <textarea id="saveProtocolDescription" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label data-i18n="protocol.keywords">
                    Keywords <i>(Tape enter for validate)</i>
                </label>
                <input type="text" id="saveProtocolKeywords" class="form-control" data-provider="typeahead" />
                <ul class="row" id="saveProtocolKeywordsList">
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-i18n="modal.save.button">
                Save changes
            </a>
        </div>

    </div>
</div>