.btn, button {
    .exo;
    height     : 35px;
    margin-top : 12.5px;
    color      : white;

    &.gray {
        border-radius : 0 !important;
        background    : #111;
        &:hover {
            color: white;
        }
    }

    &.red {
        background    : #892833;
    }

    &.reneco {
        overflow: hidden;
        border: none;
        line-height: 22px;
        label {
            height: 38px;
            position: relative;
            /* top: -5px; */
            top: -7px;
            padding-top: 7px;
            width: 38px;
            left: 15px;
            float: right;
            text-align: center;
            padding-right: 5px;
            span {
                text-align: center;
                font-size: 20px;
            }
        }

        &.red {
            label {
                background: #702029;
            }
        }
    }

    &:hover, &:active, &:focus, &:visited {
        color      : white;
        box-shadow : none !important;
        outline    : none !important
        * { color : white; }
    }

}
