.dropArea {

    position      : relative;
    overflow      : hidden;
    height        : 100%;
    background    : #111;
    margin-bottom : 50px;

    footer {
        height        : 60px;
        position      : relative;
        bottom        : 20px;
        background    : #000;
        margin-left   : -15px;
        margin-right  : -15px !important;
        padding-right : 15px;
        padding-left  : 15px;

        div {
            height: 100%;
        }

        button {
            &.red {
                border-radius : 2px;
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }

    //  All field element
    .col-md-10 {
        padding-right : 40px !important;
        padding-left  : 40px !important;
        h1 {
            .exo;
            width           : 100%;
            background      : #111;
            font-size       : 35px;
            color           : #fff;
            border-bottom   : 1px #555 solid;

            padding-bottom: 15px;
            overflow: hidden;
            margin-bottom: 0;
            &:focus { box-shadow: none; }
        }
    }

    //  Main drop section, use perfect scrollbar library
    .scrollSection {
        height: 80%;
        .col-md-12:first-child {
            height: 100%;
        }
        #scrollSection {
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .ps-scrollbar-y-rail {
            background : black;
        }
    }

    .drop {
        padding: 0;
        padding-bottom: 200px;
    }

    //  Class for each field in the drop zone
    .dropField {
        .noMarginTop;
        padding-top : 0px;
        margin-left : 0!important;
        transition  : background 0.2s ease-in-out;
        background  : #111;
        border      : 1px #222 solid;
        margin-bottom: 20px;

        .element {
            background : #222;
            padding: 0 !important;

            .row {
                //  field banner with label and action
                &.paddingBottom5 {
                    .exo;
                    transition  : background 0.2s ease-in-out;
                    height      : 45px;
                    line-height : 45px;
                    color       : white;

                    .col-md-4 {
                        .exo;
                        height      : 45px;
                        line-height : 45px;
                        color       : white;
                        .fa-arrows {
                            margin-right: 10px;
                        }
                    }
                    .col-md-8 {
                        color : white;
                        a {
                            &:not(.btn) {
                                &:nth-child(even) {
                                    padding-left: 5px;
                                    padding-right: 5px;
                                }
                                &:last-child {
                                    padding-right: 15px;
                                }
                                i {
                                    font-size : 25px;
                                    height    : 30px;
                                    width     : 30px;
                                    display   : none;
                                    color     : white;
                                }
                            }
                            &.btn {
                                //width: 97px;
                                margin-top: -15px;
                                i {
                                    height       : 30px;
                                    width        : 30px;
                                    padding-right: 5px;
                                    color        : white;
                                }
                            }
                        }
                    }
                    .fa-arrows { color : white; }
                }

                &:not(.paddingBottom5) {
                    //  row with input
                    background : #111;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &:hover {
                border-color : #333;
                .row {
                    &.paddingBottom5 {
                        background: #333;
                    }
                }
            }

            a {
                color : #aaa;
                &:hover {
                    color : white;
                }
                &.copy, &.trash {
                    font-size: 25px;
                    margin-right: 7px;
                }
                &.trash {
                    margin-right: 20px;
                }
            }
        }

        a.reneco {
            overflow: hidden;
            padding-right: 50px;
            div {
                position: absolute;
                float: right;
                top: 4px;
                height: 35px;
                width: 35px;
                background: #000;
                line-height: 35px;
                overflow: hidden;
                right: 15px;
                span {
                    background: transparent;
                }
            }
        }

        hr {
            height     : 1px;
            margin-top : 0;
            min-height : 0;
        }

        //  Display action : edit, copy and delete when field is hovered
        &:hover {
            a:not(.btn) {
                i {
                    display: initial !important;
                }
            }
        }

        //  ---------------------------------------------------
        //  Style for specific field type

        label { .text(); .exo; &:hover { cursor : default !important; } }

        &.textArea {
            textarea {
                padding-left : 10px;
                background   : #000;
                border       : 1px #555 solid !important;
                color        : #222;
                resize       : none;
            }
            .span1:last-child {
                height      : 48px;
            }
        }

        input[type="text"], input[type="number"]{
            padding-left : 10px;
            background   : #000;
            border       : 1px #555 solid !important;
            color        : #222;
        }

        select {
            padding-left : 10px;
            background   : #000;
            border       : 1px #555 solid !important;
            color        : #555;
        }

        .subformField {

            fieldset {
                background     : #555;
                border         : 1px #222 solid;
                min-height     : 100px;
                padding-bottom : 10px;
                margin-right   : 7px;

                legend {
                    .exo;
                    border : 1px #222 solid;
                    margin-bottom: 0;
                    padding-left: 10px;
                }

                .subElement {
                    background    : transparent;
                    padding-left  : 0;
                    padding-right : 0;
                    box-shadow    : 0 0 2px #555;
                    &:hover {
                        box-shadow: 0 0 4px #555;
                         .actions {
                            display : block !important;
                        }
                    }
                }

                .sortableRow { margin-top: 20px; padding-left: 7px; padding-right: 7px; }

                &.hovered {
                    background : rgba(200, 210, 220, 0.5) !important;
                    border : 1px dashed #888 !important;
                }
            }

        }

        input[type="checkbox"], input[type="radio"] {
            margin-left : 0px !important;
            position    : static !important;
            width       : 25px;
        }

        .thesaurusField {
            display: none;
        }

        .treeview {

            ul {
                background : #111;

                li {

                    &:hover {
                        background : #222;

                        .fancytree-title {
                            background : #222;
                            border-color : #222;

                            .fancytree-node {
                                background : #111;
                                border-color : #111;
                            }

                        }

                    }

                    .fancytree-title {
                        .exo;
                        color : white;
                    }

                }

            }

            span.fancytree-node.fancytree-active {
                background: #444;
                border-color: #444;

                .fancytree-title {
                    background: #444;
                    border-color: #444;
                }

            }

            .fancytree-node:hover {
                background: #444;
            }

            .ui-fancytree {
                padding: 0;
                margin: 0;
                border: none;
                background: transparent;

                .fancytree-node {
                    background: transparent !important;
                    padding-left: 0;

                    .fancytree-title {
                        background: transparent !important;
                        color: white !important;
                    }

                }

                .fancytree-focused {
                    background: black !important;
                    border-color: black !important;

                    .fancytree-title {
                        border-radius: 0;
                        border-color: black !important;
                    }

                }

            }

            ul.fancytree-container {
                padding: 0 !important;
            }

        }

        .slider {
            float : left;
            width: 500px !important;
        }

        .find {
            background : #862332;
            border-radius: 0;
            border-color: #862332;
        }

    }

}






