.widgetsPanel {
    background-image: url('../assets/images/back.jpg');

    height: 100%;
    .scroll {
        position: relative;
        overflow: hidden;
        height: 90%;
        margin-top: 5%;
    }

    #toggle, #untoggle {
        .exo;
        font-size : 35px;
        position: absolute;
        left : 92%;
    }

    h1 {
        font-weight: lighter;
        .exo;
    }

    .col-md-5 {
        &.col-md-offset-1 {
            padding-left: 0 !important;
        }
        &:not(.col-md-offset-1) {
            padding-right: 0 !important;
        }
    }

    .fields {
        .exo;
        height        : 45px;
        background    : white;
        border        : 2px #aaa solid;
        color         : #555;
        font-size     : 18px;
        text-align    : center;
        line-height: 37px;
        margin-bottom : 10px;
        margin-top    : 10px;
        transition    : all 0.3s ease-in-out;
        &:hover {
            cursor: pointer;
            outline: 5px #aaa solid;
        }
    }

    #accordion {
        h3 {
            border-bottom: 1px #555 solid;
            padding-bottom: 10px;
            .exo;

            &:hover {
                color      : #555;
                cursor     : pointer;
                box-shadow : none;
                border-bottom: 1px #555 solid;
                outline    : none;
            }
            &:active, &:focus, &:blur {
                box-shadow: none;
                border-bottom: 1px #555 solid;
                outline: none;
            }

            span {
                &.glyphicon {
                    height : 30px;
                    line-height: 30px;
                    font-size : 18px;
                }
            }
        }
        .ui-state-focus {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }

}
