.settings {

    background-color    : #222;
    margin-left         : 0;
    padding-bottom      : 50px;
    
    height: 100%;
    .scroll {
        position: relative;
        overflow: hidden;
        height: 95%;
        //margin-top: 5%;
    }

    button:not(.selectpicker ) {
            height: 35px;
            margin-top: 12.5px;
            color: white;
            .exo;
            &.gray {
                border-radius: 0 !important;
                background: #111;
                &:hover {
                    color: white;
                }
            }
            &:not(.gray) {
                border-radius: 2px;
                background: #862332;
                &:last-child {
                    margin-left: 20px;
                }
            }
        }

    hr {
        border-color: black;
    }

    .bootstrap-select {

    margin-top: 10px;
    .dropdown-menu  {
        padding-top: 0;
        padding-bottom: 0;
        border-color  : #333;
        border-radius: 0;
    }
    .selectpicker  {
        background    : #111;
        border-radius : 0;
        border-color  : #333;
        text-shadow   : none;
        color         : #555;
        .exo;
        li {
            background : #111;
            .exo;
            color : #000;
            &:hover {
                color : #111;
                background : #000;
            }
            a {
                background : transparent;
                padding-top: 0;
                padding-bottom: 0;
            }
            .text {
                padding-top: 0;
                padding-bottom: 0;
                .exo;
                color : #555;
                font-size : 15px;
            }
        }
    }
}

            &.fa {
                    font-family: FontAwesome !important;
            }
            
            .listEdit { &:hover {cursor : pointer;} }

            h1 {
                text-align          : center;
                padding-bottom      : 0 !important ;
                margin-bottom       : 0 !important;
                margin-top          : 0 !important;
                color               : #111;
                height              : 70px;
                line-height         : 60px;
                &:hover {
                    cursor: pointer;
                }
            }

            h2 {
                text-align  : center;
                font-size   : 18px;
                span:not(.selected) {
                    color : #08C;
                    &:hover {
                        cursor : pointer;
                    }
                }
                a {
                    color           : #08c;
                    text-decoration : none;
                    &.selected {
                        color       : #222;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            label {
                .exo;
                font-size   : 18px;
                line-height : 50px;
                height      : 30px;
                text-align  : left;
                color : #000;
            }

            input, select {
                .exo;
                background : #111;
                color : #555;
                border : 1px #333 solid;
                font-size   : 18px;
                line-height : 25px;
                height      : 40px;
                border-radius: 0;
            }

            #fieldRequire { .left(); margin-left: -15px; }
            .close, .addOp {
                background  : none !important;
                color       : #111 !important;
                opacity     : 0.5 !important;
                transition  : all 0.1s !important;
                border      : none !important;
                box-shadow  : none !important;
                font-size   : 20px;
            }
            .close { font-size : 28px; }
            .minMax {
                label {
                    text-align  : center !important;
                    line-height : 40px;
                }
            }
            #optionsPanel {
                table {
                    border-collapse : collapse;
                    thead {
                        tr { border : 2px #ccc solid; border-collapse : collapse; }
                    }
                    tbody {
                        tr {
                            border          : 2px #ccc solid;
                            border-collapse : collapse;
                            height          : 40px;
                            line-height     : 40px;
                            td {
                                height  : 40px;
                                line-height : 40px;
                                input {
                                    width       : 120px;
                                    box-shadow  : none;
                                    border       : 1px #aaa solid;
                                    &[type="checkbox"] {
                                        width   : 15px;
                                        height  : 15px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
            .block {
                background : white;
                margin-top : 10px;
                box-shadow: 0 0 3px #aaa;
                table {
                    margin-bottom : 0;
                    caption {
                        box-shadow: 0 0 3px #aaa;
                        border-bottom: 1px #aaa solid;
                    }
                }
            }
        }