<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-autocomplete"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.autocomplete" class="fieldType"></span><span style="float:right;margin-right:10px;font-size:x-small">
            <%= (isSQL && url!=""?"SQL":"") %><%= (!isSQL && url!=""?"Service":"") %></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="<%= name %>" id="<%= id %>" placeholder="<%= help %>" value="<%= defaultValue %>" class="form-control" />
        </div>
    </div>
</div>