<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-tree_autocomplete"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.autocompletetreeview" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <input type="text" id="tree<%= id %>" class="form-control">
        </div>
    </div>
</div>
