<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-radio_on"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.boolean" class="fieldType"></span>
        </label>
    </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"  name="checked" id="<%= id %>" value="checked" <% if (checked){ %>checked<% } %> />
                <%= checkboxLabel %>
            </label>
        </div>
    </div>


</div>