<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-file2"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.file" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="file" class="hide" />
            <input type="text" class="form-control col-md-10" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" />
            <input type="submit" data-i18n="[value]modal.import.find" class="marginLeft20 find btn reneco red paddingLeft10 paddingRight10 noMarginTop" />
        </div>
    </div>
</div>
