<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-hidden"></i>
        </label>
        <label class="field-label">
            <%= title %>
            <span data-i18n="fields.hidden" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" name="<%= name %>" id="<%= id%>" value="<%= value %>" disabled="disabled" />
        </div>
    </div>
</div>
