<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-numeric"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.number" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input  class="form-control" type="number" min="<%= minValue %>" max="<%= maxValue %>"
                step="<% if(decimal == true) { %>any<% } else { %><%= precision %><% } %>"
                name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" value="<%= defaultValue %>" />
        </div>
    </div>
</div>