<div class="element">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-mask"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.pattern" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" value="<%= defaultValue %>" pattern="<%= pattern %>" />
        </div>
    </div>
</div>
