<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-long_text"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
            <span data-i18n="fields.textarea" class="fieldType"></span>
        </label>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <textarea style="resize: none" class="form-control" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>"><%= defaultValue %></textarea>
        </div>
    </div>
</div>
