<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-thesaurussmall"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <span data-i18n="fields.thesaurus" class="fieldType"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 thesaurusField paddingLeft0 paddingRight0" id="thesaurus<%= id %>"></div>
    </div>
</div>
