<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="field-icon pull-left">
            <i class="reneco reneco-thesaurussmall"></i>
        </label>
        <label class="field-label">
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <span data-i18n="fields.thesaurus" class="fieldType"></span>
        </div>
    </div>
    <div class="row">
        <input type="text" class="form-control" id="thesaurus<%= id %>" placeholder="<%= fullpath %>" />
    </div>
</div>
