<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-close"></span>
            </button>
            <h2 data-i18n="modal.import.title">
                Import protocol
            </h2>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label data-i18n="modal.import.label">
                    Select a JSON file to import
                </label>
                <input type="file" id="importProtocolFile" class="hide" />
                <div class="row paddingRight15 paddingLeft15">
                    <input type="text" id="importProtocolFileText" class="control col-md-9" accept="application/json" />
                    <button class="marginTop0 marginLeft5 reneco grey find">
                        <label>
                            <span data-i18n="modal.import.find">
                                Parcourir
                            </span>
                        </label>
                        <label class="empty"></label>
                    </button>

                    <br/>
                    <label class="error"></label>
                </div>
            </div>
        </div>
        <div class="modal-footer paddingBottom10 paddingTop20">
            <button class="reneco red" id="importForm">
                <label>
                    <span data-i18n="modal.import.action">IMPORTER</span>
                </label>
                <label class="empty"></label>
            </button>

        </div>
    </div>
</div>
