<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-close"></span>
            </button>
            <h2 data-i18n='modal.newForm.title'>
                Nouveau formulaire
            </h2>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label data-i18n="modal.newForm.text">
                    Saisir le nom du nouveau formulaire"
                </label>
                <input type="text" id="formName" class="form-control" autofocus />
                <br/>
                <% if (templates.length > 0) { %>
                    <select id="templateName" class="form-control">
                        <% _.each(templates, function(el, idx) { %>
                            <option value="<%= el.id %>"><%= el.name %></option>
                        <% }); %>
                    </select>
                <% } %>
            </div>
        </div>
        <div class="modal-footer center">
            <button class="reneco red" id="createForm">
                <label>
                    <span data-i18n="modal.create.action">Créer</span>
                </label>
                <label>
                    <span class="reneco reneco-add"></span>
                </label>
            </button>

        </div>
    </div>
</div>
