'<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-close"></span>
            </button>
            <h2 data-i18n="modal.export.title">
                Edit values
            </h2>
        </div>
        <div class="modal-body">
            <div id="enum-grid" class="table-grid"></div>
        </div>
        <br/>
        <div class="center">
            <button class="reneco round grey" id="addOption">
                <span class="reneco reneco-add"></span>
            </button>
            <br/>
            <button class="reneco red" id="saveChange">
                <label>
                    <span data-i18n="settings.actions.save">Sauvegarder</span>
                </label>
                <label>
                    <span class="reneco reneco-write"></span>
                </label>
            </button>
        </div>
        <br/>
    </div>
</div>
</div>'