<div class="">
    <div class="row head">
        <h1 class="col-md-6">
            <span id="formsCount"></span>
            <span data-i18n="forms"> Form(s)</span>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </h1>

        <div class="col-md-6">
            <button class="reneco red" id="import">
                <label>
                    <span data-i18n="form.actions.import">IMPORTER</span>
                </label>
                <label>
                    <span class="reneco reneco-import2"></span>
                </label>
            </button>

            <button class="reneco red" id="add">
                <label>
                    <span data-i18n="form.actions.add">AJOUTER</span>
                </label>
                <label>
                    <span class="reneco reneco-add"></span>
                </label>
            </button>
        </div>


    </div>

    <div class="row scrollSection resized">
        <div class="col-md-12">
            <div id="scrollSection2">
                <div id="grid2"></div>
            </div>
        </div>
    </div>

    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection">
                <div id="grid"></div>
            </div>
        </div>
    </div>


    <footer class="col-md-8">
        <div>
            <button class="reneco grey" id="delete">
                <label>
                    <span data-i18n="actions.delete">SUPPRIMER</span>
                </label>
                <label>
                    <span class="reneco reneco-trash"></span>
                </label>
            </button>

            <button class="reneco grey" id="copy">
                <label>
                    <span data-i18n="actions.copy">DUPLIQUER</span>
                </label>
                <label>
                    <span class="reneco reneco-duplicate"></span>
                </label>
            </button>
        </div>

        <div>
            <button class="reneco red" id="export">
                <label>
                    <span data-i18n="form.actions.export">EXPORTER</span>
                </label>
                <label>
                    <span class="reneco reneco-export2"></span>
                </label>
            </button>

            <button class="reneco red" id="edit">
                <label>
                    <span data-i18n="form.actions.edit">EDITER</span>
                </label>
                <label>
                    <span class="reneco reneco-edit"></span>
                </label>
            </button>
        </div>

    </footer>

</div>
