<div class="">
    <div class="row head">
        <h1 class="col-md-6">
            <span id="formsCount"></span>
            <span data-i18n="forms"> Form(s)</span>
        </h1>

        <div class="col-md-6">
            <a class="btn reneco red" id="import">
                <span data-i18n="form.actions.import">IMPORTER</span>
                <label>
                    <span class="reneco import2"></span>
                </label>
            </a>
            <a href="#edition" class="btn reneco red " id="add">
                <span data-i18n="form.actions.import">AJOUTER</span>
                <label>
                    <span class="reneco add"></span>
                </label>
            </a>
        </div>


    </div>

    <div class="row scrollSection resized">
        <div class="col-md-12">
            <div id="scrollSection2">
                <div id="grid2"></div>
            </div>
        </div>
    </div>

    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection">
                <div id="grid"></div>
            </div>
        </div>
    </div>


    <footer class="">

        <div class="pull-left">
            <button class="btn reneco grey" id="delete">
                <span>SUPPRIMER</span>
                <label>
                    <span class="reneco trash"></span>
                </label>
            </button>

            <button class="btn reneco grey" id="copy">
                <span>DUPLIQUER</span>
                <label>
                    <span class="reneco duplicate"></span>
                </label>
            </button>

            <button class="btn reneco red" id="exporter">
                <span data-i18n="form.actions.export">EXPORTER</span>
                <label>
                    <span class="reneco export2"></span>
                </label>
            </button>

            <button class="btn reneco red" id="edit">
                <span data-i18n="form.actions.export">EDITER</span>
                <label>
                    <span class="reneco edit"></span>
                </label>
            </button>
        </div>

    </footer>

</div>
