<section id="gridView" data-context="<%= context %>" data-topContext="<%= topContext %>" data-readonly="<%= readonly %>">
    <span id="formsCount"></span>
    <div class="row scrollSection resized">
        <div class="col-md-12">
            <div id="scrollSection2">
                <div id="grid2">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection">
                <div id="grid">&nbsp;</div>
            </div>
        </div>
    </div>

    <div id="rowControls">
        <div data-i18n="[title]actions.edit" title="Éditer"
             class="control btnEdit  reneco reneco-edit" id="edit"></div>
        <div data-i18n="[title]actions.delete" title="Supprimer"
             class="control btnTrash reneco reneco-trash" id="delete"></div>
    </div>
</section>
