<section id="gridView" data-context="<%= context %>" data-topContext="<%= topContext %>" data-readonly="<%= readonly %>">
    <div class="row head">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <h1 id="formsCount"></h1>
        <div class="actions">
            <div data-i18n="form.actions.import" class="action actionImport" id="import">
                Import
            </div>
            <div data-i18n="form.actions.add" class="action actionAdd" id="add">
                Ajouter
            </div>
        </div>
    </div>
    <div class="row scrollSection resized">
        <div class="col-md-12">
            <div id="scrollSection2">
                <div id="grid2"></div>
            </div>
        </div>
    </div>
    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection" class="scroller">
                <div id="grid">&nbsp;</div>
            </div>
        </div>
    </div>
</section>
