<section>
    <div class="row search">
        <form action="#search">
            <div class="search-box">
                <input type="text" name="name" id="search" class="form-control reneco"
                       data-i18n="[placeholder]search.search" placeholder="Rechercher" />
                <span class="close">&#xe65e;</span>
            </div>
            <div class="form-group" id="keywords-group">
                <label for="keywords" data-i18n="search.keywords">
                    Mots clés
                </label>
                <input type="text" name="keywords" id="keywords" class="form-control" />
            </div>
            <div class="customFilters"></div>
            <div class="actions">
                <div data-i18n="form.actions.search" class="action actionSearch" id="searchBtn">
                    Chercher
                </div>
            </div>
        </form>
    </div>
    <div class="row edited">
        <h3 data-i18n="search.edited">Formulaires édités récemment</h3>
        <div class="recentlyEdited">
        </div>
    </div>
</section>
