<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <input id="protocolName" class="firstText" value="<%= this.collection.name %>" />
    </div>
</div>
<div class="row scrollSection">
    <div class="col-md-12">
        <div id="scrollSection">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12 drop paddingTop10 paddingBottom10"></div>
                </div>
            </div>
        </div>
    </div>
</div>
