<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>
             <%= this.collection.name %> <span class="reneco settings pull-right"></span>
        </h1>
    </div>
</div>
<div class="row scrollSection">
    <div class="col-md-12">
        <div id="scrollSection">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12 drop paddingTop10"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <button class="btn gray" id="clearAll">
        TOUT EFFACER
    </button>
    <div class="pull-right">
    <button class="btn reneco red" id="import">
            IMPORTER <label><span class="reneco import2"></span></label>
        </button>
        <button class="btn reneco red" id="export">
            EXPORTER <label><span class="reneco export2"></span></label>
        </button>
        <button class="btn reneco red" id="save">
            SAUVER <label><span class="reneco write"></span></label>
        </button>
    </div>
</footer>
