<div class="scroll">
    <div class="row">
        <h1 class="center">Settings</h1>
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <label class="control-label">
                    Champs pré configurés
                </label>
                <select id="getField" class="form-control">
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div id="form" class="col-md-10 col-md-offset-1">
            <!-- form -->
        </div>
    </div>
</div>
