<div class="nano-content">
    <div class="row">
        <h1 class="center">Settings</h1>
        <div class="col-md-10 col-md-offset-1">
        	<button id="saveField" class="btn btn-lg btn-info">Save field configuration</button>
        	<select name="" id="getField">
                <option value="" disabled selected>Select an option</option>
        	</select>
        </div>
    </div>
    <div class="row">
        <div id="form" class="col-md-10 col-md-offset-1">
            <!-- form -->
        </div>
    </div>
</div>
