<div class="element padding5">
    <div class="form-group paddingBottom5">
           <label class="col-md-4 paddingLeft0">
                <i class="fa fa-arrows" style="color : #09C"></i>
                <% if (required === true) { %> * <% } %> <%= title %>
            </label>
        <div class="col-md-8 right actions">
                <a href="#" class="trash">
                    <i class="fa fa-trash-o"></i>
                    <span data-i18n="actions.delete">Supprimer</span>
                </a>
                <a href="#setting/<%= id %>" class="wrench">
                    <i class="fa fa-wrench"></i>
                    <span data-i18n="actions.edit">Modifier</span>
                </a>
                <a href="#copy/<%= id %>" class="copy">
                    &nbsp;<span class="fa fa-copy"></span>
                    <span data-i18n="actions.clone">Dupliquer</span>
                </a>
        </div>
        <input type="text" name="<%= name %>" id="<%= id %>" placeholder="<%= help %>" value="<%= defaultValue %>" class="form-control" />
    </div>
</div>