<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
            <%= title %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="#copy/<%= id %>" class="copy">
               <i class="fa fa-copy"></i>
           </a>
           <a href="#setting/<%= id %>" class="wrench">
                <i class="fa fa-wrench"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% _.each(itemList["items"], function(el, idx) { console.log (el, idx);%>
                <div class="radio marginTop0 marginBottom0">
                    <label>
                        <input data-idx=<%=idx %> type="checkbox"  name="<%= name %>" id="<%= id %>" value="<%= el.value %>" <% if (itemList[ "defaultValue"]==el["id"]){ %>checked<% } %> class="" />
                        <%= el.fr %>
                    </label>
                </div>
            <% }); %>
        </div>
    </div>
</div>