<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
            <%= title %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="#copy/<%= id %>" class="copy">
               <i class="fa fa-copy"></i>
           </a>
           <a href="#setting/<%= id %>" class="wrench">
                <i class="fa fa-wrench"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="file" class="hide" />
            <input type="text" class="form-control col-md-10" name="<%= name %>" id="<%= id%>" />
            <input type="submit" value="Browse" class="marginLeft20 find btn btn-info paddingLeft10 paddingRight10" />
        </div>
    </div>
</div>
