<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
            <%= title %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <span class="reneco trash"></span>
            </a>
            <a href="#copy/<%= id %>" class="copy">
               <span class="reneco duplicate"></span>
           </a>
           <a href="#setting/<%= id %>" class="btn reneco gray">
                Modifier
                <div>
                    <span class="reneco settings"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea style="resize: none" class="form-control" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>"><%= defaultValue %></textarea>
        </div>
    </div>
</div>
