<div class="element">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
            <%= labelFr %><% if (required === true) { %> (*) <% } %>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <span class="reneco trash"></span>
            </a>
            <a href="#copy/<%= id %>" class="copy">
               <span class="reneco duplicate"></span>
           </a>
           <a href="#setting/<%= id %>" class="btn reneco gray">
                Modifier
                <div>
                    <span class="reneco settings"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col11centered">
            <input type="text" class="form-control" name="<%= name %>" id="<%= id%>" placeholder="<%= help %>" value="<%= defaultValue %>" pattern="<%= pattern %>" />
        </div>
    </div>
</div>
