<div class="element padding5">
    <div class="row paddingBottom5">
        <label class="col-md-4">
            <i class="fa fa-arrows"></i>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <i class="fa fa-trash-o"></i>
            </a>
            <a href="#copy/<%= id %>" class="copy">
               <i class="fa fa-copy"></i>
           </a>
           <a href="#setting/<%= id %>" class="btn gray">
                Modifier<i class="fa fa-wrench paddingLeft5"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 subformField">
            <fieldset class="row  marginLeft10">
                <legend>
                    <%= legend %>
                </legend>
            </fieldset>
        </div>
    </div>
    
</div>