<div class="element padding5">
    <div class="row paddingBottom5 marginLeft5">
        <label class="col-md-4 paddingLeft0">
            <i class="fa fa-arrows" style="color : #09C"></i>
            <% if (required===true) { %>*<% } %> <%= label %>
        </label>
        <div class="col-md-8 right actions">
            <a href="#" class="trash">
                <i class="fa fa-trash-o"></i>
                <span data-i18n="actions.delete">Supprimer</span>
            </a>
            <a href="#setting/<%= id %>" class="wrench">
                <i class="fa fa-wrench"></i>
                <span data-i18n="actions.edit">Modifier</span>
            </a>
            <a href="#" class="copy">
               &nbsp;<span class="fa fa-copy"></span>
               <span data-i18n="actions.clone">Dupliquer</span>
           </a>
        </div>
    </div>
    <div class="row" style="margin-left : 10px;">
        <div class="span12" id="tree"></div>
    </div>
</div>
