.ui-autocomplete {
        background : #333;
        list-style-type: none;
        color : white;
        &:hover {
            background : #444;
        }

        li {
            .exo !important;
            font-size: 18px;
            padding: 7px;
            &:hover {
                cursor: pointer;
                background : #444;
            }
        }
        position: relative !important;
        z-index: 255 !important;
    }