#gridView {
  height: 100%;
}

.grid {
  height: 100%;
  overflow: hidden;

  table {
    width: 100%;
    table-layout: fixed;
    text-align: center;

    &.header tr td {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      background: @grid_bg;
      border: none;
      border-right: 1px solid @grid_fg;
      color: @grid_gray;
      font-weight: bold;
    }

    .rows td.type {
      .reneco;
      color: @grid_gray;
      font-size: 20px;
    }

    tr {
      color: white;
      &.static {
        td {
          background: @grid_fg;
          border: 1px solid @grid_bg;

          &.handle {
            cursor: default;
            background: @grid_fg;
          }
        }
      }

      td {
        background: @grid_bg;
        border: 1px solid @grid_fg;

        overflow: hidden;
        height: 60px;

        &.handle {
          background: url("../assets/images/handle.png") @grid_bg no-repeat 2px center;
          cursor: move;
        }

        width: 10%;
        max-width: 10%;
        min-width: 10%;

        &:nth-of-type(1) {
          width: 50px;
          max-width: 50px;
          min-width: 50px;
        }

        &:nth-last-of-type(2) {
          width: 18%;
          max-width: 18%;
          min-width: 18%;
        }

        &:nth-last-of-type(1) {
          width: 28%;
          max-width: 28%;
          min-width: 28%;
        }
      }
    }

  }
}