#gridView {
  height: 100%;
}

.grid {
  height: 100%;
  overflow: hidden;

  table {
    width: 100%;
    table-layout: fixed;
    text-align: center;

    &.header tr td {
      height: 50px;
      min-height: 50px;
      max-height: 50px;
      background: @grid_bg;
      border: none;
      border-right: 1px solid @grid_fg;
      color: @grid_gray;
      padding: 5px;
      font-weight: bold;
    }

    .rows td.type {
      .reneco;
      color: #bbb;
      font-size: 20px;
    }

    tr {
      color: white;
      &.static {
        td {
          background: @grid_fg;
          border: 1px solid @grid_bg;
          color: #aaa !important;

          &.handle {
            cursor: default;
            background: @grid_fg;
          }
        }
      }

      &.validationError {
        td {
          background: #803917;
          &.handle {
            background: url("../assets/images/handle.png") #803917 no-repeat 2px center;
          }
        }
      }

      &.selected {
        td {
          background: #151110;

          &.handle {
            background: url("../assets/images/handle.png") #151110 no-repeat 2px center;
            font-weight: bold;
            color: @orange;
          }
        }
      }

      td {
        background: @grid_bg;
        border: 1px solid @grid_fg;

        overflow: hidden;
        height: 60px;
        padding: 5px 5px;
        text-align: center;

        &.handle {
          background: url("../assets/images/handle.png") @grid_bg no-repeat 2px center;
          cursor: move;
        }

        width: 10%;
        max-width: 10%;
        min-width: 10%;

        &.type {
          width: 50px;
          max-width: 50px;
          min-width: 50px;
        }

        &.editMode {
          width: 18%;
          max-width: 18%;
          min-width: 18%;
        }

        &.options {
          width: 28%;
          max-width: 28%;
          min-width: 28%;

          &:hover {
            cursor: default;
          }

          div {
            display: inline-block;
            width: 48%;
            padding: 8px 0;
            text-align: center;
            font-weight: bold;

            &::before {
              .reneco;
              font-size: 25px;
              margin-right: 8px;
            }

            &.settings::before {
              content: '\e657';
              vertical-align: -6px;
            }

            &.languages::before {
              content: '\e62e';
              vertical-align: -6px;
            }

            &:hover {
              cursor: pointer;
              color: @orange;
            }
          }
        }

        label.apCheckbox {
          margin: 3px 0 0 0;
          font-weight: normal;
          white-space: nowrap;
          input {
            vertical-align: middle;
            margin: 0;
          }
        }

        input, select, option, div, span {
          text-align: left;

          &.error {
            border-bottom: 3px dashed red !important;
            &.settings, &.languages {
              margin-top: 3px;
            }
          }
        }

        option {
          color: black;
        }

        input, select {
          height: 22px;
        }

        input, select {
          &[disabled]:hover {
            cursor: default !important;
          }
        }

        input:not([type="checkbox"]), select {
          border: none;
          border-bottom: 1px solid #bbb;
          background: none;
          width: 100%;
          color: #ddd;
          padding: 0;

          &[disabled] {
            cursor: default !important;
          }

          &:not([disabled]):focus, &:not([disabled]):hover {
            border-bottom-color: white;
            color: white;
            outline: none;
            box-shadow: none;
          }
        }
      }
    }

  }
}