<div class="autocompTreeEditor" id="<%= id %>">
    <table>
        <tr>
            <td><label data-i18n="schema.fullpath">Path</label></td>
            <td><input disabled class="path" title="<%= path %>" value="<%= path %>" /></td>
        </tr>
        <tr>
            <td><label data-i18n="schema.value">Value</label></td>
            <td><input disabled class="value" value="<%= value %>" /></td>
        </tr>
    </table>
    <div class="tree loading">Loading... (close & re-open)</div>
</div>
