<div class="choicesEditor" id="<%= id %>">
    <table>
        <tr>
            <th>&nbsp;</th>
            <% for (var i in languages) {
            var lang = languages[i];
            %>
            <th><%= lang.toUpperCase() %></th>
            <% } %>
            <th data-i18n="editGrid.value"></th>
            <th>&nbsp;</th>
        </tr>
        <% for (var i in choices) {
        var choice = choices[i];
        %>
        <%= renderChoice(choice) %>
        <% } %>
    </table>
    <div class="center">
        <div class="action addBtn" data-i18n="settings.actions.addOption"></div>
    </div>
</div>
