<div class="dropArea">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                <label>
                    <%= collection.name %>
                </label>

                <span class="reneco settings pull-right"></span>

                <span class="pull-right" id="count">
                    <span class="first"><%= collection.length <= 1 ? 0 : collection.length %></span>
                    <span data-i18n="form.count">Champ(s)</span> &nbsp;
                </span>
            </h1>
        </div>
    </div>
    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12 drop paddingTop10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button class="btn reneco grey" id="exit">
                    <span data-i18n="form.actions.exit">
                        QUITTER
                    </span>
                </button>

                <button class="btn reneco grey" id="clearAll">
                    <span data-i18n="form.actions.clear">
                        TOUT EFFACER
                    </span>
                </button>
                <div class="pull-right">
                    <button class="btn reneco red" id="export">
                        <span data-i18n="form.actions.export">
                            EXPORTER
                        </span>
                        <label>
                            <span class="reneco export2"></span>
                        </label>
                    </button>
                    <button class="btn reneco red" id="save">
                        <span data-i18n="form.actions.save">
                            SAUVER
                        </span>
                        <label>
                            <span class="reneco write"></span>
                        </label>
                    </button>
                </div>
            </div>
        </div>
    </footer>

</div>
