<div class="row">
    <div class="brand field-brand col-md-10 col-md-offset-1">
        <!-- Exception for childform, understood as a subform TODO OBJECTPICKER PICTO -->
        <!-- <span class="picto picto-<%= (type.toLowerCase() == 'childform'?'subform':type.toLowerCase()) %>"> -->
        <span class="picto picto-<%= (type.toLowerCase() == 'childform'?'subform':(
            type.toLowerCase() == 'objectpicker'?'pattern':type.toLowerCase()
        )) %>">
        </span>
        <br/>
        <span data-i18n="type">
            Type de champ
        </span>
        <br/>
        <span data-i18n="fields.<%= type.toLowerCase() %>">
        </span>
    </div>
</div>
<br />
<div class="scroll">
    <div class="row">
        
        <div class="col-md-10 col-md-offset-1" data-setting="field">
            <div class="form-group" id="getField">
                <label class="control-label" data-i18n="settings.preField">
                    Champs pré configurés
                </label>
                <select class="form-control">
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs setting-tabs col-md-10 col-md-offset-1" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    <span>
                        Paramètre généraux
                    </span>
                </a>
            </li>
            <li role="presentation">
                <a href="#field-values" aria-controls="field-values" role="tab" data-toggle="tab">
                    Liste de valeurs
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div id="form" class="col-md-10 col-md-offset-1">
                    <!-- form -->
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="field-values">
                <div class="col-md-10 col-md-offset-1">
                </div>
            </div>
        </div>

    </div>

    <div class="row" data-setting="field">
        <div class="col-md-4 col-md-offset-1">
            <button id="applyTemplateButton" class="transparent reneco" data-i18n="settings.actions.applyTemplate">
                Appliquer le template
            </button>
        </div>
        <div class="col-md-5 col-md-offset-2">
            <button id="saveButton" class="transparent reneco" data-i18n="settings.actions.saveAsType">
                Enregistrer comme nouveau type
            </button>
        </div>
    </div>
</div>
<footer class="row">
    <div class="col-md-10 col-md-offset-1">
        <button class="reneco grey" id="cancel">
            <label>
                <span data-i18n="settings.actions.cancel">
                    Annuler
                </span>
            </label>
            <label class="empty"></label>
        </button>
        <div class="pull-right">
            <button class="reneco red" id="saveChange">
                <label>
                    <span data-i18n="settings.actions.validate">
                        Enregistrer
                    </span>
                </label>
                <label class="empty"></label>
            </button>
        </div>
    </div>
</footer>
