<h1 class="center" data-i18n="panel">Settings</h1>
<br />
<div class="scroll">
    <div class="row">
        
        <div class="col-md-10 col-md-offset-1" data-setting="field">
            <div class="form-group" id="getField">
                <label class="control-label" data-i18n="settings.preField">
                    Champs pré configurés
                </label>
                <select class="form-control">
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div id="form" class="col-md-10 col-md-offset-1">
            <!-- form -->
        </div>
    </div>
    <div class="row paddingTop15">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn gray form" id="cancel" data-i18n="settings.actions.cancel">
                Annuler
            </button>
            <div class="pull-right">
                <button class="btn form" id="saveChange" data-i18n="settings.actions.save">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
    <div class="row" data-setting="field">
        <div class="col-md-6 col-md-offset-3">
            <button id="saveButton" class="saveButton" data-i18n="settings.actions.saveAsType">
                Enregistrez comme nouveau type
            </button>
        </div>
    </div>
</div>
