<div class="scroll">
    <div class="row">
        <h1 class="center" data-i18n="panel">Settings</h1>
    </div>
    <div class="row">
        <div id="form" class="col-md-10 col-md-offset-1">
            <!-- form -->
        </div>
    </div>
    <div class="row paddingTop15">
        <div class="col-md-10 col-md-offset-1">
            <button class="btn gray form" id="cancel" data-i18n="settings.actions.cancel">
                Annuler
            </button>
            <div class="pull-right">
                <button class="btn form" id="saveChange" data-i18n="settings.actions.save">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
