<div class="row">
    <div class="brand form col-md-10 col-md-offset-1">
        <span class="reneco reneco-settings">

        </span>
        <br/>
        <br/>
        <span data-i18n="[html]form.setting">
            Caractéristiques <br/>
            du formulaire
        </span>
    </div>
</div>

<div class="scroll">
    <div class="row">
        <div class="general-error col-md-10 col-md-offset-1">

        </div>
        <div id="form" class="col-md-10 col-md-offset-1">
            <!-- form -->
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row childFormsList" data-setting="field" style="display:none;">
        <div class="col-md-offset-1">
            <span class="outerform" data-i18n="settings.actions.listOfParentForms">
                Liste des formulaires parents :
            </span>
            <div class="childList">

            </div>
        </div>
    </div>
    <div class="row" data-setting="field">
        <div class="col-md-6 col-md-offset-3">
            <button id="saveTemplate" class="transparent reneco" data-i18n="settings.actions.saveAsType">
                Enregistrer comme nouveau template
            </button>
        </div>
    </div>
</div>
<footer class="row">
    <div class="col-md-10 col-md-offset-1">
        <!--
        <button class="reneco grey" id="cancel">
            <label>
                <span data-i18n="settings.actions.cancel">
                    QUITTER
                </span>
            </label>
            <label class="empty"></label>
        </button>
        -->

        <!--
        <div class="pull-right">
            <button class="reneco red" id="saveChange">
                <label>
                <span data-i18n="settings.actions.save">
                    Enregistrer
                </span>
                </label>
                <label class="empty"></label>
            </button>
        </div>
        -->
    </div>
</footer>
