<div>

    <div id="toggle">
        <span class="glyphicon glyphicon-th-list open"></span>
    </div>

    <div id="features">
        <div id="accordion" class="container-fluid">
            <% var type = '', i18n = ''; %>
            <% for (var n in section) { %>
                <div class="row">
                    <h3 class="col-md-10 col-md-offset-1 paddingLeft0" data-accordion="<%= n %>">
                        <span data-i18n="accordion.<%= n %>">
                            <%= n %>
                        </span>
                        <span class="fa fa-caret-down pull-right"></span>
                    </h3>
                </div>
                <div class="row section" data-accordion="content-<%= n %>">
                    <%
                        var count = 0, clasS = "", isDouble = false;

                        for (var i in section[n]) {
                            count++;
                            type     = i.replace(' Field ', ' ');
                            i18n     = section[n][i]['i18n'];
                            isDouble = section[n][i]['doubleColumn'];

                            clasS = isDouble ? "col-md-10 col-md-offset-1 paddingLeft0 paddingRight0" : ("col-md-5 " + (count%2 !== 0 ? "col-md-offset-1" : ""))
                    %>
                        <div class="<%= clasS %>"  data-type="<%= type %>">
                            <div data-type="<%= type %>" class="fields" data-i18n="[title]tooltip.<%= i18n %>">
                                <i class="picto-<%= i18n %>"></i>
                                <label data-i18n="fields.<%= i18n %>" data-type="<%= type %>">
                                    <%= i18n %>
                                </label>
                                <i class="reneco reneco-add" data-type="<%= type %>"></i>
                            </div>
                        </div>
                    <%}; %>
                </div>
            <%}; %>
        </div>
    </div>

    <div id="smallFeatures">
        <div class="scroll">
            <% for (var n in section) {
                for (var i in section[n]) { count++;
                    type     = i.replace(' Field ', ' ');
                    i18n     = section[n][i]['i18n'];
                    %>
                    <div data-type="<%= type %>" data-i18n="[title]tooltip.<%= i18n %>" >
                        <span class="picto-<%= i18n %>" data-type="<%= type %>"></span>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>

</div>
